@media (min-width: 1150px) {
  /////////////////// header ///////////////////
  #header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(66, 66, 66, 0.5) 100%
    );
    transition: 0.5s;
    .top-area {
      @include flex(space-between, center);
      max-width: 1400px;
      margin: 0 auto;
      .logo {
        img {
          width: 200px;
        }
      }
      .header-nav {
        position: relative;
        display: flex;
        ul {
          @include flex(space-between, center);

          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 25px;
            a {
              color: #fff;
              font-size: 17px;
            }
            &:hover {
              background-color: #fff;
              a {
                color: #10244c !important;
              }
            }
          }
        }
      }
      .util-wrap {
        width: 150px;
        ul {
          @include flex(flex-end, center) {
            gap: 15px;
          }
          li {
            img {
              width: 30px;
            }
          }
        }
      }
    }
    &:hover {
      background: none;
      background-color: #10244c;

      a {
        color: #ebebeb !important;
      }
    }
  }
  #header.active {
    transform: translateY(-100%);
}

  /////////////////// footer ///////////////////
  #footer {
    height: 100%;
    background-color: #000;
    border-top: 1px solid #a8a8a8;
    .bottom-area {
      max-width: 1000px;
      margin: 0 auto;
      .top-con {
        padding-top: 30px;
        @include flex(space-between, center);
        .bottom-logo {
          img {
            height: 60px;
          }
        }
        .sns-wrap {
          height: 60px;
          p {
            color: #fff;
            font-size: 20px;
            text-align: center;
          }
          ul {
            @include flex(space-between, center);
            li {
              width: 47px;
              img {
                width: 100%;
              }
            }
          }
        }
      }
      .bottom-nav {
        padding-top: 40px;
        padding-bottom: 30px;
        ul {
          @include flex(space-between, center);
          width: 80%;
          margin: 0 auto;
          li {
            a {
              color: #589fe2;
              font-size: 14px;
            }
          }
        }
      }
      .info {
        padding-bottom: 30px;
        font-size: 13px;
        text-align: center;
        color: #9f9f9f;
      }
    }
  }
}
