@media (max-width: 480px) {
  body {
    background: url(../images/sub/background_1.jpg) no-repeat fixed top / cover;
    font-family: $font-set;

    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          transition: transform 1s ease-in;
        }
        .main-section {
          height: 100vh;
          position: relative;
          .tbox-top {
            z-index: 1;
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            .tit {
              font-size: 60px;
              text-align: center;
              letter-spacing: 10px;
            }
          }
          .planet-area {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 300px;
            .click-btn {
              display: none;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              font-size: 50px;
              display: none;
              span {
                color: #ffffffc1;
              }
            }
            img {
              height: 100%;
            }
          }
          .tbox-bottom {
            z-index: 1;
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            .con-wrap {
              @include flex(space-between, center);
              .planet-info {
                margin: 0 5px;
                .tit {
                  font-size: 25px;
                }
                .info {
                  margin-top: 10px;
                  font-size: 15px;
                }
              }
            }
            .link-btn {
              a {
                margin-top: 30px;
                float: right;
                width: 100px;
                height: 40px;
                background-color: #589fe2;
                color: white;
                text-align: center;
                line-height: 38px;
                font-size: 13px;
                border-radius: 25px;
                transition: 0.3s;
                &:hover {
                  background-color: #4583c6;
                }
              }
            }
          }
        }
      }
      .swiper-button-next,
      .swiper-button-prev {
        color: white;
      }

      .swiper-button-prev {
        left: 5%;
      }

      .swiper-button-next {
        right: 5%;
      }
    }
  }
}
