// sub-query //

// (1) 사이즈 변수 ///////
$font-size-small: 13px;
$font-size-common: 16px;
$font-size-medium: 20px;
$font-size-large: 36px;
$font-size-x-large: 42px;
$spacing-20: 2rem;
$spacing-30: 3rem;
$spacing-40: 4rem;
$spacing-50: 5rem;
$spacing-60: 6rem;
$spacing-70: 7rem;
$spacing-80: 8rem;


// (2) 미디어쿼리 적용 사이즈 변수 /////
$breakpoint-desktop: 1400px;
$breakpoint-tablet-large: 1200px;
$breakpoint-tablet-medium: 1000px;
$breakpoint-tablet-small: 700px;
$breakpoint-mobile: 500px;


// (3) 믹스인 셋팅
@mixin desktop {
    @media (max-width: $breakpoint-desktop) {
      @content;
    }
  }
  @mixin tablet-large {
    @media (max-width: $breakpoint-tablet-large) {
      @content;
    }
  }
  @mixin tablet-medium {
    @media (max-width: $breakpoint-tablet-medium) {
      @content;
    }
  }
  @mixin tablet-small {
    @media (max-width: $breakpoint-tablet-small) {
      @content;
    }
  }
  
  @mixin mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  }
