@import "./common/reset";
@import "./common/core";
@import "./common/inc";
@import "./common/t-inc";
@import "./common/m-inc";

.main-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #060408;
  img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1600px;
  }
}
