// 리셋 //
@import "./common/reset";
@import "./common/core";

// 폰트 //
@import "./variables";
@import "https://fonts.googleapis.com/css2?family=Orbitron&display=swap";

// 헤더, 푸터 //
@import "./common/inc";
@import "./common/t-inc";
@import "./common/m-inc";

// 쿼리 //
@import "./sub-query";

// 메인영역 //
////// 포지션 fixed 구역시작 ///////
body {
  background: url(../images/sub/background_1.jpg) no-repeat fixed top / cover;
  font-family: $font-set;
  cursor: url("../images/cursor/planet-cursor.png") 12 12, auto;
      .cursor {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        transform: translate(10px, -50px);
        transition: all 0.2s linear;
        z-index: 999999999;
        img{
          height: 100%;
        }
      }

  .spin-box {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    z-index: -1;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 50%;
      img {
        position: fixed;
        transition: 1.2s cubic-bezier(0.25, 1, 0.5, 1);
      }
    }
  }
  ////// 포지션 fixed 구역끝 ///////

  @mixin flex-set {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    width: 55%;
  }

  @mixin query-set {
    margin-left: 0;
    justify-content: center;
    align-items: flex-end;
    div {
      width: 100%;
      align-items: center;
      text-align: left;

      h2 {
        line-height: 6rem;
      }
      p {
        width: 80%;
        font-size: 2rem;
        margin-bottom: 5.5vh;
      }
    }
    // 모바일 미디어 쿼리 //
    @include mobile {
      h1,
      h2 {
        font-size: 40px;
      }
    }
  }

  main {
    letter-spacing: 2px;
  }

  // 첫 컨텐츠 영역 ////////////////////////////////////////////////////////////////////////
  .first-area {
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
    div {
      /* 믹스인 사용으로 인한 주석 */
      // display: flex;
      // width: 55%;
      // align-items: flex-start;
      // flex-direction: column;
      // justify-content: center;
      // justify-content: flex-start;

      @include flex-set();
      h1 {
        font-size: 5vw;
      }
      p {
        width: 50vw;
        font-size: 1.2vw;
      }
    }
  }

  // 첫 컨텐츠 영역 미디어쿼리 //
  @include tablet-medium {
    .spin-box {
      justify-content: center;
      top: -10rem;
      img {
        scale: 0.5;
      }
    }
    .first-area {
      @include query-set();
      height: 89vh;
      margin-bottom: 10rem;
      div {
        margin-bottom: 3rem;
        h1 {
          font-size: 10vw;
        }
        p {
          font-size: 2.3vw;
        }
      }
    }
  }
        // 모바일 미디어 쿼리 //
        @include mobile {
          .first-area {
            div{
              h1,h2{
                font-size: 40px;
              }
              p{
                font-size: 13px;
                text-align: justify;
                word-break: break-all;
                line-height: 1.5;
              }
            }
          }
        }

  @mixin common-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6vw;
    color: #fff;
  }
}

/* 퀵메뉴바 스타일 */
.quick-menu {
  z-index: 99;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
}

.toggle-btn {
  opacity: 0;
}

@include tablet-medium {
  .quick-menu {
    top: 20%;
    z-index: 99;
    scale: 0.8;
    left: auto;
    right: 0;
    translate: 100%;
    transition: 0.4s cubic-bezier(0.46, -0.39, 0.2, 1.48);
  }
  .quick-menu.active {
    translate: 0;
  }
  // 퀵메뉴 호출 버튼 //
  /* 퀵메뉴 토글 버튼 스타일 */
  .toggle-btn {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 9;
    transition: background 0.3s ease;
    opacity: 1;
    font-size: 25px;
  }

  .toggle-btn:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}

.quick-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quick-menu ul li {
  margin: 10px 0;
}

.quick-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.quick-menu ul li a:hover {
  background-color: #425e97;
  border-radius: 3px;
}
/* 클릭된 상태 (활성화된 메뉴) */
.quick-menu a.active {
  color: #fff;
  border-radius: 3px;
  background-color: #425e97; /* 활성화된 메뉴 배경색 */
}

/* 텍스트 전환을 위한 기본 스타일 */
.desc-tit h1,
.desc-desc p {
  opacity: 1;
  border-radius: 3px;
  transform: translateY(30px); /* Y축으로 약간 이동 */
  transition: opacity 0.5s ease, transform 0.5s ease; /* 트랜지션 효과 */
}

/* 퀵메뉴 활성화시 */
.desc-tit h1.show,
.desc-desc p.show {
  opacity: 1;
  border-radius: 3px;
  transform: translateY(0); /* 원위치로 이동 */
  p.show {
    font-size: 1.1vw;
  }
}

// 스크롤바 디자인 //
/* -webkit- 밴더사명(크롬,사파리) 접두어 */
/* 클래스명 scbar */
.scbar::-webkit-scrollbar {
  /* 전체 스크롤바 크기변경 */
  width: 7px;
  display: none;
}
.scbar::-webkit-scrollbar-thumb {
  /* 스크롤바 */
  background-color: #c5bcbc;
  border-radius: 5px;
}
.scbar::-webkit-scrollbar-track {
  /* 스크롤바 트랙 */
  background-color: rgb(38, 36, 41);
  // border-radius: 5px;
}

// gallery 영역 //////////////////////////////////////////
.gallery {
  scale: 0.9;
  /* 타이틀 */
  h2 {
    margin-bottom: 10vh;
    margin-top: 10rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: max(4vw, 54px);
  }
  /* 그리드박스 */
  .grid {
    display: grid;
    grid-gap: 10px;

    /* 박스중앙위치 및 최대크기설정 */
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 10vh;
    // outline: 2px dashed lightcoral;

    grid-template-columns: repeat(3, 1fr);

  }
  /* 그리드 각 박스 공통 */
  .grid > div {
    /* 부모자격 */
    position: relative;
    box-shadow: 0 0 5px aqua;
    transition: 0.3s;
    overflow: hidden;
    border-radius: 10px;
    &:hover {
      box-shadow: 0 0 30px aqua;
      translate: -1% -1%;
      z-index: 9;
    }
    &:nth-child(2) {
      grid-area: 1 / 2 / 2 / 4;
      aspect-ratio: 2 / 1;
    }
    &:nth-child(3) {
      grid-area: 2 / 1 / 2 / 3;
      aspect-ratio: 2 / 1;
    }
    &:nth-child(6) {
      grid-area: 4 / 2 / 3 / 4;
      aspect-ratio: 2 / 1;
    }
    /* 이미지 공통 셋팅 */
    img {
      width: 100%;
      height: 100%;
      /* 이미지를 배경처럼 박스에서
      일정부분을 자르고 채우기 */
      object-fit: cover;
      /* object-fit설정시 이미지 위치기준변경
      상단기준으로 변경 */
      object-position: top;
      /* 블록박스 이미지 하단간극 없애기 */
      vertical-align: middle;
      /* 가로/세로 비율속성 */
      aspect-ratio: 1/1;
    }
  }
  /* 
      [ 개별적 변경하기 - 그리드 위치와 크기 변경 ]
      방법) 개별요소에 column과 row의 시작/끝번호를 지정함

      grid-column: 시작번호/끝번호
      grid-row: 시작번호/끝번호
  */

  /* 그리드 구성박스 변경주기 */
  .second {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
}

// gallery 서브메뉴 //
.gallery-smenu {
  position: fixed;
  z-index: 9999;
  background-color: #000000a2;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 0;
  display: none;
  > button {
    position: fixed;
    top: 15rem;
    right: 15rem;
    border-radius: 50%;
    scale: 2;
  }
  .smenu-contbox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img-flex {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    .smenu-imgbox {
      display: flex;
      overflow: hidden;
      width: 70%;
      justify-content: center;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
    figcaption {
      font-size: 1.7rem;
      color: #fff;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

@include tablet-medium {
  .gallery-smenu {
    > button {
      right: 6rem;
    }
    figcaption {
      font-size: 14px;
      text-align: center;
    }
  }
}

@include tablet-medium {
  .quick-menu {
    top: 27%;
    width: 13vh;
    ul li a {
      font-size: 13px;
    }
  }
}
