// 헤더, 푸터 //
@import "./inc";
// 리셋 //
@import "./reset";
// 폰트 //
@import "./variables";
@import "https://fonts.googleapis.com/css2?family=Orbitron&display=swap";
// 쿼리 //
@import "./sub-query";

// 메인영역 //
////// 포지션 fixed 구역시작 ///////
body {
  background: url(../images/sub/background_1.jpg) no-repeat fixed top / cover;
  font-family: $font-set;

  .spin-box {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    z-index: -1;
    span {
      display: flex;
      width: 50%;
      justify-content: center;
    }
  }
  ////// 포지션 fixed 구역끝 ///////

  @mixin flex-set {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    width: 55%;
  }

  @mixin query-set {
    margin-left: 0;
    justify-content: center;
    align-items: flex-end;
    div {
      width: 100%;
      align-items: center;
      h2 {
        line-height: 6rem;
      }
      p {
        width: 80%;
        font-size: 1.3rem;
      }
    }
  }

  // 첫 컨텐츠 영역 ////////////////////////////////////////////////////////////////////////
  .first-area {
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
    div {
      height: 35vh;
      /* 믹스인 사용으로 인한 주석 */
      // display: flex;
      // width: 55%;
      // align-items: flex-start;
      // flex-direction: column;
      // justify-content: center;
      // justify-content: flex-start;

      @include flex-set();
      h1 {
        font-size: 6vw;
      }
      p {
        width: 50vw;
        font-size: 1.7vw;
      }
    }
  }

  // 첫 컨텐츠 영역 미디어쿼리 //
  @include tablet-medium {
    .spin-box {
      justify-content: center;
      top: -10rem;
    }
    .first-area {
      @include query-set();
    }
  }

  // introduction 영역 //////////////////////////////////////////////////////////////
  .introduction-area {
    @extend .first-area;
    div {
      height: 35vh;
      @include flex-set();
      h2 {
        font-size: 6vw;
        text-transform: uppercase;
      }
      p {
        width: 50vw;
        font-size: 1.7vw;
      }
    }
  }
  // introduction 영역 미디어쿼리 //
  @include tablet-medium {
    .introduction-area {
      @include query-set();
    }
  }

  // Namesake 영역 //////////////////////////////////////////////////////////////
  .Namesake-area {
    @extend .first-area;
    div {
      height: 35vh;
      @include flex-set();
      h2 {
        font-size: 6vw;
        text-transform: uppercase;
      }
      p {
        width: 50vw;
        font-size: 1.7vw;
      }
    }
  }
  // Namesake 영역 미디어쿼리 //
  @include tablet-medium {
    .Namesake-area {
      @include query-set();
      text-align: center;
    }
  }

  @mixin common-box {
    display: flex;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6vw;
    color: #fff;
  }

  // potential for life 영역 //////////////////////////////////////////////////////////////
  .potential-area {
    @include common-box;
    div {
      height: 45vh;
      @include flex-set();
      h2 {
        font-size: 6vw;
        text-transform: uppercase;
        line-height: 6vw;
      }
      p {
        width: 50vw;
        font-size: 1.7vw;
      }
    }
  }
  // potential for life 영역 미디어쿼리 //
  @include tablet-medium {
    .potential-area {
      @include query-set();
    }
  }

  // Structure 영역 ////////////////////////////////////////////////////////////////
  .Structure-area {
    @include common-box;
    margin-bottom: 30rem;
    div {
      height: 40vh;
      @include flex-set();
      h2 {
        font-size: 6vw;
        text-transform: uppercase;
        line-height: 6vw;
      }
      p {
        width: 50vw;
        font-size: 1.4vw;
      }
    }
  }

  // Structure 영역 미디어쿼리 //
  @include tablet-medium {
    .Structure-area {
      @include query-set();
    }
  }

  // gallery 영역 //////////////////////////////////////////
  .gallery {
    /* 타이틀 */
    h2 {
      margin-bottom: 10vh;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      font-size: max(4vw, 54px);
    }
    /* 그리드박스 */
    .grid {
      display: grid;

      /* 박스중앙위치 및 최대크기설정 */
      max-width: 1300px;
      margin: 0 auto;
      // outline: 2px dashed lightcoral;

      grid-template-columns: repeat(3, 1fr);

      grid-gap: min(1.5vw, 15px) min(1vw, 10px);
    }
    /* 그리드 각 박스 공통 */
    .grid > div {
      /* 부모자격 */
      position: relative;
      &:nth-child(2) {
        grid-area: 1 / 2 / 2 / 4;
        aspect-ratio: 2 / 1;
      }
      &:nth-child(3) {
        grid-area: 2 / 1 / 2 / 3;
        aspect-ratio: 2 / 1;
      }
      &:nth-child(6) {
        grid-area: 4 / 2 / 3 / 4;
        aspect-ratio: 2 / 1;
      }
      /* 이미지 공통 셋팅 */
      img {
        width: 100%;
        height: 100%;
        /* 이미지를 배경처럼 박스에서
        일정부분을 자르고 채우기 */
        object-fit: cover;
        /* object-fit설정시 이미지 위치기준변경
        상단기준으로 변경 */
        object-position: top;
        /* 블록박스 이미지 하단간극 없애기 */
        vertical-align: middle;
        /* 가로/세로 비율속성 */
        aspect-ratio: 1/1;
      }
    }
    /* 
        [ 개별적 변경하기 - 그리드 위치와 크기 변경 ]
        방법) 개별요소에 column과 row의 시작/끝번호를 지정함

        grid-column: 시작번호/끝번호
        grid-row: 시작번호/끝번호
    */

    /* 그리드 구성박스 변경주기 */
    .second {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
    }
  }

  // gallery 서브메뉴 //
  .gallery-smenu {
    position: fixed;
    z-index: -1;
    background-color: #000000a2;
    height: 100%;
    width: 100%;
    top: 0;
    padding: 0;
    > button {
      position: fixed;
      top: 11vh;
      right: 14vh;
      border-radius: 50%;
    }
    .smenu-contbox {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .img-flex {
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: center;
      .smenu-imgbox {
        display: flex;
        overflow: hidden;
        width: 70%;
        justify-content: center;
      }
      .smenu-imgbox > img {
        object-fit: cover;
      }
    }
  }
}
