// 헤더, 푸터 //
@import "./inc";
// 리셋 //
@import "./reset";
// 폰트 //
@import "./variables";

@import 'https://fonts.googleapis.com/css2?family=Orbitron&display=swap';

// 메인영역 //
////// 포지션 fixed 구역시작 ///////
body {
  background: url(../images/sub/background_1.jpg) no-repeat fixed top / cover;
  font-family: $font-set;

  .spin-box {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    z-index: -1;
    span {
      display: flex;
      width: 50%;
      justify-content: center;
    }
  }
  ////// 포지션 fixed 구역끝 ///////

  // 첫 컨텐츠 영역 //
  .first-area {
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
    div {
      display: flex;
      height: 35vh;
      width: 55%;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      justify-content: flex-start;
      h1 {
        font-size: 6vw;
      }
      p {
        width: 50vw;
        font-size: 1.7vw;
      }
    }
  }

  // introduction 영역 //
  .introduction-area {
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
    div {
      display: flex;
      height: 35vh;
      width: 55%;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      justify-content: flex-start;
      h2 {
        font-size: 6vw;
        text-transform: uppercase;
      }
      p {
        width: 50vw;
        font-size: 1.7vw;
      }
    }
  }

  // Namesake 영역 //
  .Namesake-area {
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
    div {
      display: flex;
      height: 35vh;
      width: 55%;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      justify-content: flex-start;
      h2 {
        font-size: 6vw;
        text-transform: uppercase;
      }
      p {
        width: 50vw;
        font-size: 1.7vw;
      }
    }
  }

  @mixin common-box{
    display: flex;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6vw;
  }

  // potential for life 영역 //
  .potential-area {
    color: #fff;
    @include common-box;
    div {
      display: flex;
      height: 45vh;
      width: 55%;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      justify-content: flex-start;
      h2 {
        font-size: 6vw;
        text-transform: uppercase;
        line-height: 6vw;
      }
      p {
        width: 50vw;
        font-size: 1.7vw;
      }
    }
  }
  // Structure 영역 //
  .Structure-area {
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6vw;
    div {
      display: flex;
      height: 40vh;
      width: 55%;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      justify-content: flex-start;
      h2 {
        font-size: 6vw;
        text-transform: uppercase;
        line-height: 6vw;
      }
      p {
        width: 50vw;
        font-size: 1.4vw;
      }
    }
  }

  .gallery {
    /* 타이틀 */
    h2 {
      margin-bottom: 2vh;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      font-size: max(4vw, 54px);
    }
    /* 그리드박스 */
    .grid {
      display: grid;

      /* 박스중앙위치 및 최대크기설정 */
      max-width: 1300px;
      margin: 0 auto;
      outline: 2px dashed lightcoral;

      grid-template-columns: repeat(3, 1fr);

      grid-gap: min(1.5vw, 15px) min(1vw, 10px);
    }
    /* 그리드 각 박스 공통 */
    .grid > div {
      /* 부모자격 */
      position: relative;
      &:nth-child(2){
        grid-area: 1 / 2 / 2 / 4;
      }
      /* 이미지 공통 셋팅 */
      img {
        width: 100%;
        height: 100%;
        /* 이미지를 배경처럼 박스에서
        일정부분을 자르고 채우기 */
        object-fit: cover;
        /* object-fit설정시 이미지 위치기준변경
        상단기준으로 변경 */
        object-position: top;
        /* 블록박스 이미지 하단간극 없애기 */
        vertical-align: middle;
        /* 가로/세로 비율속성 */
        aspect-ratio: 1/1;
      }
    }
    /* 
        [ 개별적 변경하기 - 그리드 위치와 크기 변경 ]
        방법) 개별요소에 column과 row의 시작/끝번호를 지정함

        grid-column: 시작번호/끝번호
        grid-row: 시작번호/끝번호
    */

    /* 그리드 구성박스 변경주기 */
    .second {
      grid-column: 1 / 1;
      grid-row: 1 / 1 ;
    }
  }
}
