@media (min-width: 481px) and (max-width: 1149px) {
  body {
    background: url(../images/sub/background_1.jpg) no-repeat fixed top / cover;
    font-family: $font-set;
    .main-area {
      position: relative;
      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            transition: transform 1s ease-in;
          }
          .main-section {
            height: 100vh;
            position: relative;
            .tbox-top {
              z-index: 1;
              position: absolute;
              top: 13%;
              left: 50%;
              transform: translateX(-50%);
              color: white;
              .tit {
                font-size: 80px;
                text-align: center;
                letter-spacing: 5px;
              }
            }
            .planet-area {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              height: 450px;
              .click-btn-box {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 50px;
                .click-btn {
                  display: none;
                }
                .touch-btn {
                  color: #ffffff7a;
                  cursor: pointer;
                }
              }
              img {
                height: 100%;
              }
            }
            .tbox-bottom {
              z-index: 1;
              position: absolute;
              bottom: 5%;
              left: 50%;
              transform: translateX(-50%);
              color: white;
              .con-wrap {
                @include flex(space-between, center);
                .planet-info {
                  margin: 0 30px;
                  .tit {
                    font-size: 25px;
                    white-space: nowrap;
                  }
                  .info {
                    margin-top: 10px;
                    font-size: 15px;
                  }
                }
              }
              .link-btn {
                a {
                  margin-top: 30px;
                  float: right;
                  width: 100px;
                  height: 40px;
                  background-color: #589fe2;
                  color: white;
                  text-align: center;
                  line-height: 38px;
                  font-size: 13px;
                  border-radius: 25px;
                  transition: 0.3s;
                  &:hover {
                    background-color: #4583c6;
                  }
                }
              }
            }
          }
        }
        
      }
      .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.075);

        .modal-inner {
          border-radius: 30px;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-height: 80%;
          width: 90%;
          aspect-ratio: 1;
          background-image: url("../images/sub/background_1.jpg");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          .close-box {
            text-align: end;
            .close {
              position: absolute;
              top: 5%;
              right: 5%;
              font-size: 36px;
              color: white;
              cursor: pointer;
            }
          }
          #threejs-container {
            width: 100%;
            height: 100%;
            canvas {
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .modal.active {
        display: block;
      }
      .swiper-popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 450px;
        height: 450px;
        border-radius: 30px;
        background-color: #ffffff50;
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        opacity: 0;
        transition: opacity 1s ease-in-out;
      }

      /* 이미지 스타일 */
      .swiper-image {
        height: 80%;
        opacity: 90%;
        animation: shake 1s ease-in-out infinite;
      }

      @keyframes shake {
        0% {
          transform: translateX(-15px);
        }
        
        50% {
          transform: translateX(15px);
        }
        
        100% {
          transform: translateX(-15px);
        }
      }
    }
  }
}
