//// 공통 import ////
@import "./common/reset";
@import "./common/core";
@import "./variables";
@import "https://fonts.googleapis.com/css2?family=Orbitron&display=swap";
@import "./common/inc";
@import "./common/t-inc";
@import "./common/m-inc";
@import "./t-main";
@import "./m-main";

@media (min-width: 1150px) {
  body {
    background: url(../images/sub/background_1.jpg) no-repeat fixed top / cover;
    font-family: $font-set;

    .main-area {
      position: relative;

      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            transition: transform 1s ease-in-out, opacity 0.3s ease;
            left: 50%;
            transform: translateX(-50%) scale(0.7);
            opacity: 0.8;

            &.swiper-slide-active {
              transform: translateX(-50%) scale(1);
              opacity: 1;
              .tbox-top,
              .tbox-bottom,
              .click-btn {
                display: block;
              }
            }

            // 기본적으로 텍스트와 버튼 숨김
            .tbox-top,
            .tbox-bottom,
            .click-btn {
              display: none;
            }
          }

          .main-section {
            height: 100vh;
            position: relative;

            .tbox-top {
              z-index: 1;
              position: absolute;
              top: 10%;
              left: 50%;
              transform: translateX(-50%);
              color: white;

              .tit {
                font-size: 100px;
                text-align: center;
                letter-spacing: 10px;
              }
            }

            .planet-area {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              height: 500px;

              .click-btn-box {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 50px;
                display: none;

                .click-btn {
                  color: #ffffffc1;
                  cursor: pointer;
                }
              }

              img {
                height: 100%;
              }

              &:hover {
                .click-btn-box {
                  display: block;

                  .touch-btn {
                    display: none;
                  }
                }
              }
            }

            .tbox-bottom {
              z-index: 1;
              position: absolute;
              bottom: 5%;
              left: 50%;
              transform: translateX(-50%);
              color: white;

              .con-wrap {
                @include flex(space-between, center);

                .planet-info {
                  margin: 0 30px;

                  .tit {
                    font-size: 30px;
                    width: 250px;
                    span {
                      white-space: pre-wrap; /* 공백과 줄바꿈을 그대로 유지 */
                    }
                  }

                  .info {
                    margin-top: 10px;
                    font-size: 17px;
                  }
                }
              }

              .link-btn {
                a {
                  margin-top: 30px;
                  float: right;
                  width: 100px;
                  height: 40px;
                  background-color: #589fe2;
                  color: white;
                  text-align: center;
                  line-height: 38px;
                  font-size: 13px;
                  border-radius: 25px;
                  transition: 0.3s;

                  &:hover {
                    background-color: #4583c6;
                  }
                }
              }
            }
          }
        }
      }

      .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.075);

        .modal-inner {
          border-radius: 30px;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 80%;
          min-width: 90%;
          aspect-ratio: 1;
          background-image: url("../images/sub/background_1.jpg");
          background-repeat: no-repeat;
          background-size: 120% 120%;

          .close-box {
            text-align: end;

            .close {
              position: absolute;
              top: 5%;
              right: 5%;
              font-size: 36px;
              color: white;
              cursor: pointer;
            }
          }

          #threejs-container {
            width: 100%;
            height: 100%;

            canvas {
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .modal.active {
        display: block;
      }

      /* 팝업 기본 스타일 */
      .swiper-popup {
        display: none;
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
