@charset "UTF-8";
/* 요소의 초기화 */
/* 루트 글자크기 */
@import "https://fonts.googleapis.com/css2?family=Orbitron&display=swap";
html {
  font-size: 10px;
}

/* 1. 마진,패딩 없애기 */
html, body, h1, h2, h3, h4, h5, h6, ul, ol, dt, dd, p, figure, figcaption {
  margin: 0;
  padding: 0;
}

/* 가로스크롤 생김 방지!(특히 모바일) */
html, body {
  overflow-x: hidden;
}

/* 2. a요소 리셋 */
a {
  color: #000;
  /* 글자색 */
  text-decoration: none;
  /* 밑줄없앰 */
}

/* 3. ul,ol 리셋 */
ul, ol {
  list-style: none;
  /* 블릿/숫자 제거 */
}

/* 4. h요소 글자크기 리셋 */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  /* html의 기본글자크기(16px)와 일치 초기화 */
}

/* 5. 이미지 리셋 */
img {
  border: none;
  /* 이미지 링크시 서버에서 볼때 파란색 자동보더 없애기 */
  vertical-align: bottom;
  /* 박스 이미지 하단간극 없애기(약4px)
  값으로 top, middle등 도 효과있음! */
}

/* 폰트체 */
@media (min-width: 1150px) {
  body {
    cursor: url("../images/cursor/planet-cursor.png") 12 12, auto;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  #cursor .cursor {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    transition: all 0.2s linear;
    z-index: 999999999;
  }
  #cursor .cursor img {
    height: 100%;
  }
  #header {
    font-family: "Orbitron", serif;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0.01%, rgba(66, 66, 66, 0.5) 100%);
    transition: 0.5s;
  }
  #header .top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    padding: 0 17px;
    margin: 0 auto;
  }
  #header .top-area .logo img {
    width: 200px;
  }
  #header .top-area .header-nav {
    position: relative;
    display: flex;
  }
  #header .top-area .header-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header .top-area .header-nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px;
  }
  #header .top-area .header-nav ul li a {
    color: #fff;
    font-size: 15px;
  }
  #header .top-area .header-nav ul li:hover {
    background-color: #fff;
  }
  #header .top-area .header-nav ul li:hover a {
    color: #10244c !important;
  }
  #header .top-area .util-wrap {
    width: 150px;
  }
  #header .top-area .util-wrap ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }
  #header .top-area .util-wrap ul li:nth-of-type(1) img {
    width: 30px;
  }
  #header .top-area .util-wrap ul li img {
    width: 20px;
  }
  #header .top-area .hambtn {
    display: none;
  }
  #header:hover {
    background: none;
    background-color: #10244c;
  }
  #header:hover a {
    color: #ebebeb !important;
  }
  #header.active {
    transform: translateY(-100%);
  }
  #footer {
    height: 100%;
    background-color: #000000;
    border-top: 1px solid #a8a8a8;
  }
  #footer .bottom-area {
    max-width: 1000px;
    margin: 0 auto;
  }
  #footer .bottom-area .top-con {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #footer .bottom-area .top-con .bottom-logo img {
    height: 60px;
  }
  #footer .bottom-area .top-con .sns-wrap {
    height: 60px;
  }
  #footer .bottom-area .top-con .sns-wrap p {
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  #footer .bottom-area .top-con .sns-wrap ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #footer .bottom-area .top-con .sns-wrap ul li {
    margin-top: 5px;
    width: 47px;
  }
  #footer .bottom-area .top-con .sns-wrap ul li img {
    width: 100%;
  }
  #footer .bottom-area .bottom-nav {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  #footer .bottom-area .bottom-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  #footer .bottom-area .bottom-nav ul li a {
    color: #589fe2;
    font-size: 12px;
  }
  #footer .bottom-area .info {
    padding-bottom: 30px;
    font-size: 13px;
    text-align: center;
    color: #9f9f9f;
  }
}
@media (min-width: 481px) and (max-width: 1149px) {
  #cursor .cursor {
    display: none;
  }
  #header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background: #10244c;
    transition: 0.5s;
  }
  #header .top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px;
    margin: auto;
    position: relative;
    height: 60px;
  }
  #header .top-area .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    order: 2;
  }
  #header .top-area .logo img {
    width: 200px;
  }
  #header .top-area .header-nav {
    position: relative;
    display: none;
  }
  #header .top-area .header-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header .top-area .header-nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
  }
  #header .top-area .header-nav ul li a {
    color: #fff;
    font-size: 17px;
  }
  #header .top-area .header-nav ul li:hover {
    background-color: #fff;
  }
  #header .top-area .header-nav ul li:hover a {
    color: #10244c !important;
  }
  #header .top-area .util-wrap {
    width: 150px;
    order: 2;
  }
  #header .top-area .util-wrap ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }
  #header .top-area .util-wrap ul li:nth-of-type(1) img {
    width: 30px;
  }
  #header .top-area .util-wrap ul li img {
    width: 20px;
  }
  #header .top-area .hambtn .hammenu {
    position: relative;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    z-index: 12;
    cursor: pointer;
    order: 1;
  }
  #header .top-area .hambtn .hammenu .ham {
    width: 20px;
    height: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #header .top-area .hambtn .hammenu .ham span {
    transition: all 0.2s linear;
    position: absolute;
    width: 20px;
    height: 2px;
    display: block;
    background-color: #fff;
  }
  #header .top-area .hambtn .hammenu .ham span:nth-of-type(1) {
    top: 0%;
  }
  #header .top-area .hambtn .hammenu .ham span:nth-of-type(2) {
    top: 50%;
  }
  #header .top-area .hambtn .hammenu .ham span:nth-of-type(3) {
    top: 100%;
  }
  #header .top-area .hambtn .ham-drop-box {
    background-color: #10244c;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  #header .top-area .hambtn .ham-drop-box .ham-drop {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
  }
  #header .top-area .hambtn .ham-drop-box .ham-drop > li {
    width: 100%;
  }
  #header .top-area .hambtn .ham-drop-box .ham-drop > li > a {
    color: #fff;
    display: block;
    position: relative;
    font-size: 20px;
    padding: 15px 0;
    margin: 0 20px;
    border-bottom: 1px solid #fff;
  }
  #header.active {
    transform: translateY(0%);
  }
  #footer {
    height: 100%;
    background-color: #000000;
    border-top: 1px solid #a8a8a8;
  }
  #footer .bottom-area {
    max-width: 800px;
    margin: 0 auto;
  }
  #footer .bottom-area .top-con {
    padding: 0 17px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #footer .bottom-area .top-con .bottom-logo img {
    height: 45px;
  }
  #footer .bottom-area .top-con .sns-wrap {
    height: 45px;
  }
  #footer .bottom-area .top-con .sns-wrap p {
    color: #fff;
    font-size: 15px;
    text-align: center;
  }
  #footer .bottom-area .top-con .sns-wrap ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #footer .bottom-area .top-con .sns-wrap ul li {
    margin-top: 5px;
    width: 30px;
  }
  #footer .bottom-area .top-con .sns-wrap ul li img {
    width: 100%;
  }
  #footer .bottom-area .bottom-nav {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  #footer .bottom-area .bottom-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
  }
  #footer .bottom-area .bottom-nav ul li {
    padding: 1% 2%;
  }
  #footer .bottom-area .bottom-nav ul li a {
    color: #589fe2;
    font-size: 11px;
  }
  #footer .bottom-area .info {
    padding-bottom: 30px;
    font-size: 10px;
    text-align: center;
    color: #9f9f9f;
  }
}
@media (max-width: 480px) {
  #cursor .cursor {
    display: none;
  }
  #header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background: #10244c;
    transition: 0.5s;
  }
  #header .top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin: auto;
    position: relative;
    height: 50px;
  }
  #header .top-area .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    order: 2;
  }
  #header .top-area .logo img {
    height: 25px;
  }
  #header .top-area .header-nav {
    position: relative;
    display: none;
  }
  #header .top-area .header-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header .top-area .header-nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
  }
  #header .top-area .header-nav ul li a {
    color: #fff;
    font-size: 17px;
  }
  #header .top-area .header-nav ul li:hover {
    background-color: #fff;
  }
  #header .top-area .header-nav ul li:hover a {
    color: #10244c !important;
  }
  #header .top-area .util-wrap {
    width: 150px;
    order: 2;
  }
  #header .top-area .util-wrap ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }
  #header .top-area .util-wrap ul li:nth-of-type(1) img {
    width: 30px;
  }
  #header .top-area .util-wrap ul li img {
    width: 20px;
  }
  #header .top-area .hambtn .hammenu {
    position: relative;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    z-index: 12;
    cursor: pointer;
    order: 1;
  }
  #header .top-area .hambtn .hammenu .ham {
    width: 20px;
    height: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #header .top-area .hambtn .hammenu .ham span {
    transition: all 0.2s linear;
    position: absolute;
    width: 20px;
    height: 2px;
    display: block;
    background-color: rgb(255, 255, 255);
  }
  #header .top-area .hambtn .hammenu .ham span:nth-of-type(1) {
    top: 0%;
  }
  #header .top-area .hambtn .hammenu .ham span:nth-of-type(2) {
    top: 50%;
  }
  #header .top-area .hambtn .hammenu .ham span:nth-of-type(3) {
    top: 100%;
  }
  #header .top-area .hambtn .ham-drop-box {
    background-color: #10244c;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  #header .top-area .hambtn .ham-drop-box .ham-drop {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
  }
  #header .top-area .hambtn .ham-drop-box .ham-drop > li {
    width: 100%;
  }
  #header .top-area .hambtn .ham-drop-box .ham-drop > li > a {
    color: #fff;
    display: block;
    position: relative;
    font-size: 20px;
    padding: 15px 0;
    margin: 0 20px;
    border-bottom: 1px solid #fff;
  }
  #header.active {
    transform: translateY(0%);
  }
  #footer {
    height: 100%;
    background-color: #000000;
    border-top: 1px solid #a8a8a8;
  }
  #footer .bottom-area {
    max-width: 800px;
    margin: 0 auto;
  }
  #footer .bottom-area .top-con {
    padding: 0 17px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #footer .bottom-area .top-con .bottom-logo img {
    height: 40px;
  }
  #footer .bottom-area .top-con .sns-wrap {
    height: 30px;
  }
  #footer .bottom-area .top-con .sns-wrap p {
    color: #fff;
    font-size: 12px;
    text-align: center;
  }
  #footer .bottom-area .top-con .sns-wrap ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #footer .bottom-area .top-con .sns-wrap ul li {
    margin-top: 5px;
    width: 30px;
  }
  #footer .bottom-area .top-con .sns-wrap ul li img {
    width: 100%;
  }
  #footer .bottom-area .bottom-nav {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  #footer .bottom-area .bottom-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
  }
  #footer .bottom-area .bottom-nav ul li {
    padding: 1% 2%;
  }
  #footer .bottom-area .bottom-nav ul li a {
    color: #589fe2;
    font-size: 11px;
  }
  #footer .bottom-area .info {
    padding-bottom: 30px;
    font-size: 8px;
    text-align: center;
    color: #9f9f9f;
  }
}
body {
  background: url(../images/sub/background_1.jpg) no-repeat fixed top/cover;
  font-family: "Orbitron", serif;
}
body .spin-box {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  z-index: -1;
}
body .spin-box span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}
body .spin-box span img {
  position: fixed;
  transition: 1.2s cubic-bezier(0.25, 1, 0.5, 1);
  left: 10%;
}
@media (max-width: 500px) {
  body .first-area div > h2, body .namesake-area div > h2, body .introduction-area div > h2 {
    font-size: 40px;
  }
}
body main {
  letter-spacing: 2px;
}
body .first-area, body .namesake-area, body .introduction-area {
  color: #fff;
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  align-items: center;
}
body .first-area div, body .namesake-area div, body .introduction-area div {
  /* 믹스인 사용으로 인한 주석 */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  width: 55%;
  height: 15rem;
}
body .first-area div h1, body .namesake-area div h1, body .introduction-area div h1 {
  font-size: 6vw;
}
body .first-area div p, body .namesake-area div p, body .introduction-area div p {
  width: 50vw;
  font-size: 2.4rem;
}
@media (max-width: 500px) {
  body .first-area div h1, body .namesake-area div h1, body .introduction-area div h1 {
    font-size: 60px;
  }
}
@media (max-width: 1000px) {
  body .spin-box {
    justify-content: center;
    top: -10rem;
  }
  body .first-area, body .namesake-area, body .introduction-area {
    margin-left: 0;
    justify-content: center;
    align-items: flex-end;
    height: 30vh;
    height: 82vh;
    margin-bottom: 30rem;
  }
  body .first-area div, body .namesake-area div, body .introduction-area div {
    height: 3rem;
    width: 100%;
    align-items: center;
    text-align: left;
    gap: 10px;
  }
  body .first-area div h2, body .namesake-area div h2, body .introduction-area div h2 {
    line-height: 6rem;
  }
  body .first-area div p, body .namesake-area div p, body .introduction-area div p {
    width: 80%;
    font-size: min(14px, 2.7vw);
    text-align: justify;
    word-break: break-all;
    line-height: 1.5;
  }
  body .first-area div, body .namesake-area div, body .introduction-area div {
    height: 15rem;
  }
  body .first-area div p, body .namesake-area div p, body .introduction-area div p {
    text-align: center;
  }
}
body .introduction-area {
  height: 50vh;
}
body .introduction-area div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  width: 55%;
  height: 15rem;
  justify-content: center;
  align-items: normal;
}
body .introduction-area div h2 {
  font-size: 6vw;
  text-transform: uppercase;
}
body .introduction-area div p {
  width: 50vw;
  font-size: 2.3rem;
  text-align: start;
}
@media (max-width: 1000px) {
  body .introduction-area {
    margin-left: 0;
    justify-content: center;
    align-items: flex-end;
    height: 30vh;
    flex-wrap: wrap;
    align-items: center;
  }
  body .introduction-area div {
    height: 3rem;
    width: 100%;
    align-items: center;
    text-align: left;
    gap: 10px;
  }
  body .introduction-area div h2 {
    line-height: 6rem;
  }
  body .introduction-area div p {
    width: 80%;
    font-size: min(14px, 2.7vw);
    text-align: justify;
    word-break: break-all;
    line-height: 1.5;
  }
  body .introduction-area div p {
    text-align: center;
  }
}
body .namesake-area {
  height: 50vh;
}
body .namesake-area div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  width: 55%;
  height: 15rem;
}
body .namesake-area div h2 {
  font-size: 6vw;
  text-transform: uppercase;
}
body .namesake-area div p {
  width: 50vw;
  font-size: 2.3rem;
  text-align: start;
}
@media (max-width: 1000px) {
  body .namesake-area {
    margin-left: 0;
    justify-content: center;
    align-items: flex-end;
    height: 30vh;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
  }
  body .namesake-area div {
    height: 3rem;
    width: 100%;
    align-items: center;
    text-align: left;
    gap: 10px;
  }
  body .namesake-area div h2 {
    line-height: 6rem;
  }
  body .namesake-area div p {
    width: 80%;
    font-size: min(14px, 2.7vw);
    text-align: justify;
    word-break: break-all;
    line-height: 1.5;
  }
  body .namesake-area div p {
    font-size: 3.2rem;
    text-align: center;
    font-size: min(14px, 2.7vw);
  }
}
body .potential-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 160px;
  color: #fff;
  height: 50vh;
  margin-top: 50rem;
}
body .potential-area div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  width: 55%;
  height: 15rem;
  justify-content: center;
  align-items: normal;
  width: 90%;
}
body .potential-area div h2 {
  font-size: 5vw;
  text-transform: uppercase;
  line-height: 6vw;
}
body .potential-area div p {
  width: 50vw;
  font-size: 2.3rem;
}
@media (max-width: 1000px) {
  body .potential-area {
    margin-left: 0;
    justify-content: center;
    align-items: flex-end;
    height: 30vh;
    margin-top: 0;
    flex-wrap: wrap;
    align-items: center;
  }
  body .potential-area div {
    height: 3rem;
    width: 100%;
    align-items: center;
    text-align: left;
    gap: 10px;
  }
  body .potential-area div h2 {
    line-height: 6rem;
  }
  body .potential-area div p {
    width: 80%;
    font-size: min(14px, 2.7vw);
    text-align: justify;
    word-break: break-all;
    line-height: 1.5;
  }
  body .potential-area div p {
    text-align: center;
  }
}
body .structure-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 160px;
  color: #fff;
  height: 50vh;
  margin-bottom: 50rem;
}
body .structure-area div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  width: 55%;
  height: 15rem;
  justify-content: center;
  align-items: normal;
  gap: 3rem;
}
body .structure-area div h2 {
  font-size: 6vw;
  text-transform: uppercase;
  line-height: 6vw;
}
body .structure-area div p {
  width: 50vw;
  font-size: 1.8rem;
}
@media (max-width: 1000px) {
  body .structure-area {
    margin-left: 0;
    justify-content: center;
    align-items: flex-end;
    height: 30vh;
  }
  body .structure-area div {
    height: 3rem;
    width: 100%;
    align-items: center;
    text-align: left;
    gap: 10px;
  }
  body .structure-area div h2 {
    line-height: 6rem;
  }
  body .structure-area div p {
    width: 80%;
    font-size: min(14px, 2.7vw);
    text-align: justify;
    word-break: break-all;
    line-height: 1.5;
  }
  body .structure-area div {
    gap: 3rem;
  }
  body .structure-area div p {
    text-align: center;
  }
}
body .gallery {
  scale: 0.9;
  /* 타이틀 */
  /* 그리드박스 */
  /* 그리드 각 박스 공통 */
  /* 
      [ 개별적 변경하기 - 그리드 위치와 크기 변경 ]
      방법) 개별요소에 column과 row의 시작/끝번호를 지정함

      grid-column: 시작번호/끝번호
      grid-row: 시작번호/끝번호
  */
  /* 그리드 구성박스 변경주기 */
}
body .gallery h2 {
  margin-bottom: 10vh;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: max(4vw, 54px);
}
@media (max-width: 1000px) {
  body .gallery section.gallery {
    scale: 0.9;
  }
  body .gallery .gallery-tit {
    font-size: 3.9rem;
  }
}
body .gallery .grid {
  display: grid;
  grid-gap: 10px;
  /* 박스중앙위치 및 최대크기설정 */
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 10vh;
  grid-template-columns: repeat(3, 1fr);
}
body .gallery .grid > div {
  /* 부모자격 */
  position: relative;
  box-shadow: 0 0 5px aqua;
  transition: 0.3s;
  overflow: hidden;
  border-radius: 10px;
  /* 이미지 공통 셋팅 */
}
body .gallery .grid > div:hover {
  box-shadow: 0 0 30px aqua;
  translate: -1% -1%;
  z-index: 9;
}
body .gallery .grid > div:nth-child(2) {
  grid-area: 1/2/2/4;
  aspect-ratio: 2/1;
}
body .gallery .grid > div:nth-child(3) {
  grid-area: 2/1/2/3;
  aspect-ratio: 2/1;
}
body .gallery .grid > div:nth-child(6) {
  grid-area: 4/2/3/4;
  aspect-ratio: 2/1;
}
body .gallery .grid > div img {
  width: 100%;
  height: 100%;
  /* 이미지를 배경처럼 박스에서
  일정부분을 자르고 채우기 */
  -o-object-fit: cover;
     object-fit: cover;
  /* object-fit설정시 이미지 위치기준변경
  상단기준으로 변경 */
  -o-object-position: top;
     object-position: top;
  /* 블록박스 이미지 하단간극 없애기 */
  vertical-align: middle;
  /* 가로/세로 비율속성 */
  aspect-ratio: 1/1;
}
body .gallery .second {
  grid-column: 1/1;
  grid-row: 1/1;
}
body .gallery-smenu {
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6352941176);
  height: 100%;
  width: 100%;
  top: 0;
  padding: 0;
  display: none;
}
body .gallery-smenu > button {
  position: fixed;
  top: 15rem;
  right: 15rem;
  border-radius: 50%;
  scale: 2;
}
body .gallery-smenu .smenu-contbox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .gallery-smenu .img-flex {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
body .gallery-smenu .img-flex .smenu-imgbox {
  display: flex;
  overflow: hidden;
  width: 70%;
  justify-content: center;
}
body .gallery-smenu .img-flex .smenu-imgbox img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
body .gallery-smenu .img-flex figcaption {
  font-size: 14px;
  color: #fff;
}
@media (max-width: 1000px) {
  body .gallery-smenu > button {
    right: 6rem;
  }
  body .gallery-smenu figcaption {
    text-align: center;
  }
}
body .planet-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 160px;
  color: #fff;
  margin-left: 0;
}
body .planet-area div {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  width: 55%;
}
body .planet-area div h2 {
  font-size: 6vw;
  text-transform: uppercase;
  line-height: 6vw;
}
body .planet-area div p {
  width: 50vw;
  font-size: 1.4vw;
}

/* 스크롤바 디자인 클래스 */
/* -webkit- 밴더사명(크롬,사파리) 접두어 */
/* 클래스명 scbar */
.scbar::-webkit-scrollbar {
  /* 전체 스크롤바 크기변경 */
  width: 7px;
  display: none;
}

.scbar::-webkit-scrollbar-thumb {
  /* 스크롤바 */
  background-color: #c5bcbc;
  border-radius: 5px;
}

.scbar::-webkit-scrollbar-track {
  /* 스크롤바 트랙 */
  background-color: rgb(38, 36, 41);
}

/* 퀵메뉴바 스타일 */
.quick-menu {
  z-index: 99;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
}

.toggle-btn {
  opacity: 0;
}

@media (max-width: 1000px) {
  .quick-menu {
    top: 20%;
    z-index: 99;
    scale: 0.8;
    left: auto;
    right: 0;
    translate: 100%;
    transition: 0.4s cubic-bezier(0.46, -0.39, 0.2, 1.48);
  }
  .quick-menu.active {
    translate: 0;
  }
  /* 퀵메뉴 토글 버튼 스타일 */
  .toggle-btn {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 9;
    transition: background 0.3s ease;
    opacity: 1;
    font-size: 25px;
  }
}
.quick-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quick-menu ul li {
  margin: 10px 0;
}

.quick-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.quick-menu ul li a:hover {
  background-color: #425e97;
  border-radius: 3px;
}

/* 클릭된 상태 (활성화된 메뉴) */
.quick-menu a.active {
  color: #fff;
  border-radius: 3px;
  background-color: #425e97; /* 활성화된 메뉴 배경색 */
}

/* 텍스트 전환을 위한 기본 스타일 */
.desc-tit h1,
.desc-desc p {
  opacity: 1;
  border-radius: 3px;
  transform: translateY(30px); /* Y축으로 약간 이동 */
  transition: opacity 0.5s ease, transform 0.5s ease; /* 트랜지션 효과 */
}

/* 퀵메뉴 활성화시 */
.desc-tit h1.show,
.desc-desc p.show {
  opacity: 1;
  border-radius: 3px;
  transform: translateY(0); /* 원위치로 이동 */
}/*# sourceMappingURL=sub-mercury.css.map */