@media (max-width: 480px) {
  //////// cursor /////////
  #cursor {
    .cursor {
      display: none;
    }
  }
  /////////////////// header ///////////////////
  #header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background: $color-navy;
    transition: 0.5s;
    .top-area {
      @include flex(space-between, center);
      padding: 0 15px;
      margin: auto;
      position: relative;
      height: 50px;
      .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        order: 2;
        img {
          height: 25px;
        }
      }

      .header-nav {
        position: relative;
        display: none;
        ul {
          @include flex(space-between, center);

          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 25px;
            a {
              color: #fff;
              font-size: 17px;
            }
            &:hover {
              background-color: #fff;
              a {
                color: $color-navy !important;
              }
            }
          }
        }
      }
      .util-wrap {
        width: 150px;
        order: 2;
        ul {
          @include flex(flex-end, center) {
            gap: 15px;
          }
          li {
            &:nth-of-type(1) {
              img {
                width: 30px;
              }
            }
            img {
              width: 20px;
            }
          }
        }
      }
      .hambtn {
        .hammenu {
          position: relative;
          top: 0;
          left: 0;
          width: 40px;
          height: 40px;
          z-index: 12;
          cursor: pointer;
          order: 1;
          .ham {
            width: 20px;
            height: 14px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            span {
              transition: all 0.2s linear;
              position: absolute;
              width: 20px;
              height: 2px;
              display: block;
              background-color: rgb(255, 255, 255);

              &:nth-of-type(1) {
                top: 0%;
              }

              &:nth-of-type(2) {
                top: 50%;
              }

              &:nth-of-type(3) {
                top: 100%;
              }
            }
          }
        }
        .ham-drop-box {
          background-color: $color-navy;
          height: 100vh;
          position: absolute;
          top: 0;
          left: -100%;
          width: 100%;
          height: 100vh;
          z-index: -1;
          .ham-drop {
            margin-top: 50px;
            @include flex() {
              flex-direction: column;
            }
            > li {
              width: 100%;
              > a {
                color: #fff;
                display: block;
                position: relative;
                font-size: 20px;
                padding: 15px 0;
                margin: 0 20px;
                border-bottom: 1px solid #fff;
              }
            }
          }
        }
      }
    }
  }

  #header.active {
    transform: translateY(0%);
  }

  /////////////////// footer ///////////////////
  #footer {
    height: 100%;
    background-color: #000000;
    border-top: 1px solid #a8a8a8;
    .bottom-area {
      max-width: 800px;
      margin: 0 auto;
      .top-con {
        padding: 0 17px;
        padding-top: 30px;
        @include flex(space-between, center);
        .bottom-logo {
          img {
            height: 40px;
          }
        }
        .sns-wrap {
          height: 30px;
          p {
            color: #fff;
            font-size: 12px;
            text-align: center;
          }
          ul {
            @include flex(space-between, center);
            li {
              margin-top: 5px;
              width: 30px;
              img {
                width: 100%;
              }
            }
          }
        }
      }

      .bottom-nav {
        padding-top: 40px;
        padding-bottom: 30px;
        ul {
          @include flex(center, center);
          flex-wrap: wrap;
          max-width: 700px;
          margin: 0 auto;
          li {
            padding: 1% 2%;
            a {
              color: #589fe2;
              font-size: 11px;
            }
          }
        }
      }

      .info {
        padding-bottom: 30px;
        font-size: 8px;
        text-align: center;
        color: #9f9f9f;
      }
    }
  }
}
